*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --header-background-image: url("../assets/images/painting-mountain-lake-with-mountain-background.jpg");
  --search-width: 40%;
  --border-radius: 5px;
  /*This was added later*/
  font-size: 13px;
}

:root.dark {
  --primary-clr: #e8eddf;
  --background-blender-clr: #333533;
  --secondary-clr: #cfdbd5;
  --importand-clr: #f5cb5c;
  --main-theme-clr: #242423;
  --dark-clr: #2d2f2de7;
}

:root.white {
  --primary-clr: #ffffff;
  --background-blender-clr: #93968fa8;
  --secondary-clr: #cfdbd5;
  --importand-clr: #143109;
  --main-theme-clr: #d0d6b3;
  --dark-clr: #2d2f2de7;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-clr);
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 1rem;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--header-background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-blender-clr);
  opacity: 0.4;
  z-index: -1;
}

.header-container {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 1rem;
}

.header-wrapper {
  width: 100%;
  text-align: center;
}

.location {
  font-size: 1.5rem;
  padding: 1rem;
}

.icon-wrapper {
  position: relative;
  width: 40%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem auto;
}

.icon-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: var(--dark-clr);
  filter: blur(2px);
  border-radius: 1rem;
  opacity: 0.3;
  z-index: -1;
}

.temp,
.weather-text-info,
.nearby-location-paragraph {
  margin: 1rem;
}

input[type="text"] {
  width: var(--search-width);
  padding: 0.5rem 2rem;
  color: var(--primary-clr);
  background-color: var(--dark-clr);
  border: none;
  border-radius: var(--border-radius);
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="text"]:hover,
input[type="text"]:hover + .suggestion-container {
  width: calc(var(--search-width) + 5rem);
  transition: 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.suggestion-container{
  width: var(--search-width);
  margin: auto;
  margin-top: -3px;
  max-height: 10rem;
  overflow: auto;
}

.suggestion {
  background-color: var(--dark-clr);
  padding: 1rem;
  margin: auto;
  cursor: pointer;
  width: 100%;
}

.nearby-location-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.location-item {
  text-align: left;
  padding: 2rem;
  cursor: pointer;
  background-color: var(--dark-clr);
  border-radius: var(--border-radius);
}

.location-item > * {
  margin: 0.2rem;
}

.location-item:hover {
  background-color: var(--main-theme-clr);
  color: var(--importand-clr);
  transition: 0.2s ease-in-out;
}

/*Image will be added later*/
.mode-icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  cursor: pointer;
}

.more-weather-info-container {
  background-color: var(--main-theme-clr);
  padding: 5rem 1rem;
  min-height: 50rem;
}

.view-weather {
  font-size: 2rem;
  color: var(--importand-clr);
  text-align: center;
}

.select-container {
  width: min-content;
  margin: auto;
  padding: 1rem;
}

.select-container > select {
  background-color: var(--dark-clr);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
}

.weather-info-wrapper {
  display: flex;
  gap: 0.4rem;
  height: 100%;
  margin: 10rem auto;
}

.next-btn,
.prev-btn {
  cursor: pointer;
  background-color: var(--dark-clr);
  color: white;
  border: none;
  padding: 1rem;
}

.weather-info-card-container {
  display: flex;
  gap: 1rem;
  overflow: auto;
  position: relative;
  margin: auto;
  height: 100%;
}

.weather-info-card-container > .weather-info-card {
  min-width: 30rem;
  min-height: 20rem;
  flex: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.weather-info-card:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transition: .2s ease-in-out;
}

.weather-info-card-container .icon-wrapper{
  height: 40%;
}

footer {
  text-align: center;
  background-color: var(--dark-clr);
  padding: 3rem;
  color: white;
  font-size: 1.5rem;
}

footer a {
  color: white;
}

.country-city-weather-info{
  border: 1px solid var(--dark-clr);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 300px));
  gap: 1rem;
  justify-items: center;
  justify-content: center;
}

.country-city-info-card{
  background: white;
  color: black;
  border-radius: var(--border-radius);
  text-align: center;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}

.country-city-info-card:hover{
  background-color: var(--importand-clr);
  color: white;
}

.country-city-wrapper{
  text-align: center;
}

.bigger-header{
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.temp::after{
  content: "°C";
  display: inline-block;
}

.chart-data{
  padding: 1rem;
  overflow: auto;
  width: 100%;
  margin: auto;
}

.plot{
  margin: auto;
}

.header-wrapper img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1223px) {
  .weather-info-wrapper {
    display: block;
  }
  .next-btn,
  .prev-btn {
    display: none;
  }
  .weather-info-card-container {
    min-width: none;
    overflow: initial;
    flex-direction: column;
    width: 75%;
    margin: auto;
  }
  .weather-info-card-container > .weather-info-card {
    min-width: 10rem;
    min-height: 25rem; 
    flex: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  input[type="text"]:hover,
  input[type="text"]:hover + .suggestion-container {
    width: var(--search-width);
  }
  :root {
    --search-width: 100%;
  }
  .header-container,
  .suggestion,
  .icon-wrapper {
    min-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .weather-info-card-container {
    width: 100%;
  }
}
